# Ignore Python cache files
__pycache__/

ignore_folder/

# Ignore JetBrains (PyCharm) project files
.idea/

# Ignore virtual environments
.venv/

# Ignore Excel files
*.xlsx
*.xls

# Ignore text files
*.txt
